.home-3 {
  min-height: calc(100vh - 50px);
  background-image: linear-gradient(to right, rgb(96, 108, 136), rgb(63, 76, 107));
  /* background-color: rgb(207, 248, 246); */
}
.h3-trans {
  height: calc(100vh - 50px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;

}
.h4-trans {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;

}
.h3-trans-1 {
  height: calc(100vh);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;

}
.home31 {
  margin-top: 30px;
  text-align: justify;
}
.ant-anchor-link-title {
  color: white;
}
.backtop-3 {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    color: white;
    font-size: 30px;
    line-height: 0;
    background: wheat;
    justify-content: center;
    align-items: center;
}
.item3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.item33 {
  display: flex;
  justify-content: space-around;
  align-items: center;
    text-align: left;
    max-width: 80%;
}
.item3 img {
  max-width: 300px;
  max-height: 300px;
  margin-right: 20px;
}
.flex2 {
  display: flex;
  flex-direction: column;
  max-height: 300px;
}
.item3-trans {
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.text {
  font-size: 16px;
  text-align: justify;
}
@media(max-width: 768px) {
  .home31 {
    margin-top: 10px;
  }
  .flex {
    flex-direction: column;
    align-items: center;
  }
  .flex button {
    margin-bottom: 10px;
  }
  .text {
    font-size: 12px;
  }
  .item33 {
    flex-direction: column;
  }
}
.item {
  background-image: url('./assets/2.jpg');
  height: 100%;
  background-size: cover;
  display: flex;
  align-content: flex-start;

}
.item p {
  background-color: rgba(0,0,0,.7);
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 4px;
}
.item p:hover {
  background-color: #4db2ec;
}
.item-trans h4 {
  color: white;
  text-align: justify;
}
.item-trans {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  padding: 10px;
  flex-grow: 1;
}
.item2 {
  display: flex;
  text-align: justify;
  align-items: center;
  /* background: #e5e9ea; */
  padding-right: 10px;
  cursor: pointer;
}
.item2:hover img {
  border-right: solid 3px #234edf;
}
.item2 img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}
